<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Task tracker</title>
</head>
    <h1>Tasks for the day</h1>
    <ul>
        {% for todo in todos %}
        <li>
             <input type="checkbox" name="done" {% if todo['done'] %} checked {%endif%} onchange="this.form.submit()">
            <span {% if todo['done'] %} style="text-decoration: line-through" {%endif%}>{{ todo['task'] }}</span>
            <a href="{{ url_for('edit', index=loop.index0) }}">Edit</a>
            <a href="{{ url_for('check', index=loop.index0) }}">Complete</a>
            <a href="{{ url_for('delete', index=loop.index0) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('add') }}" method="POST">
        <input type="text" name="todo">
        <button type="submit">Add new task</button>
    </form>
</body>
</html> -->



{% extends "base.html" %}
{% block title %}Self care tracker{% endblock %}
{% block content %}
<h1>Self care tracker</h1>
<ul>
        {% for todo in todos %}
        <li>
            <!-- <input type="checkbox" name="done" {% if todo['done'] %} checked {%endif%} onchange="this.form.submit()"> -->
            <span {% if todo['done'] %} style="text-decoration: line-through" {%endif%}>{{ todo['task'] }}</span>
            <a href="{{ url_for('edit', index=loop.index0) }}">Edit</a>
            <a href="{{ url_for('check', index=loop.index0) }}">Complete</a>
            <a href="{{ url_for('delete', index=loop.index0) }}">Delete</a>
        </li>
        {% endfor %}
</ul>
<form action="{{ url_for('add') }}" method="POST">
        <input type="text" name="todo">
        <button type="submit">Add new task</button>
    </form>
{% endblock %}