<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap Sass & CSS -->
  <link rel="stylesheet" href="../static/main.css">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!-- Fontawesome Icons -->
  <script src="https://kit.fontawesome.com/05f790463b.js" crossorigin="anonymous"></script>

  <title>{% block title %} {% endblock %}</title>
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../static/Assets/favicon.ico">
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="/app/static/Assets/kokoro-cat.png" alt="KokoroZen" width="30" height="24">
      </a>
      <!-- Menu Hamburger if page window is small -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar items -->
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- User in session -->
          <li class="nav-item active">
            {% if "user" in session %}
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">My pet <span class="sr-only">(current)</span></a>
            {% endif %}
          </li>
          <!-- User not in session -->
          <li class="nav-item">
            {% if "user" not in session %}
            <a class="nav-link btn btn-primary-outlined" role="button" href="{{ url_for('login') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary-outlined" role="button" href="{{ url_for('login') }}">Login</a>
            {% endif %}
          </li>
        </ul>
        <!-- User Session -->
        <span class="user_session navbar-brand pe-3">
          {% if "user" in session %}
          <h4>Welcome, {{ user }}</h4>
          {% endif %}
        </span>
      </div>
    </div>
  </nav>
  {% block content %}

  {% endblock %}

  <!-- JS scripts - don't touch -->
  <script src="../static/bootstrap.bundle.min.js"></script>
</body>

</html>